<%- include header %>

<h4>404! Clasificado! Solo pueden acceder ciertas ips <a class="btn btn-floating  btn-large red pulse"><i class="material-icons">block</i></a></h4>

<img src="pyscho.jpg" alt="" class="circle responsive-img">

<%- include footer%>