<%- include header %>

<table class="highlight">
<thead>
  <tr>
      <th>Name</th>
      <th>Item Description</th>
      <th>Item Image</th>
  </tr>
</thead>

<tbody>
  <tr>
    <td>Bludgeons</td>
    <td>Bludgeons are weapons that do damage through blunt force trauma or bashing. </td>
    <td><img src="/bludgeons.jpg"></td>
  </tr>
  <tr>
    <td>Baseball bat</td>
    <td>Baseball bats are large clubs of either wood, aluminum or polypropylene.</td>
    <td><img src="/bat.jpg"></td>
  </tr>
  <tr>
    <td>Pipes</td>
    <td>Pipes are generally to be found anywhere there is plumbing.</td>
    <td><img src="/LeadPipe.jpg"></td>
  </tr>
</tbody>
</table>

<%- include footer %>