<%- include header %>


<div id="clases" class="row">
    <div class="col s4">    
        <div class="row">
        <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <img src="/tarman.jpg">
                <span class="card-title">Tarman</span>
            </div>
            <div class="card-content">
                <p>This type of trioxin canister-zombie appears, at first glance, to be the weakest of the 245 triombies 
                because of how their muscles and skin are mostly melted and dissolved.</p>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div class="col s4">  
        <div class="row">
        <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <img src="/reanimator.jpg">
                <span class="card-title">Re-Animator</span>
            </div>
            <div class="card-content">
                <p>Dan sneak into the morgue to test the re-agent on a human subject in an attempt to salvage their medical careers.
                West decapitates Hill with a shovel. Overcome with curiosity, West re-animates both Hill's head and body.</p>
            </div>
        </div>
        </div>
        </div>
    </div>
    <div class="col s4">
        <div class="row">
        <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <img src="/braindead.jpg">
                <span class="card-title">Braindead</span>
            </div>
            <div class="card-content">
                <p>When a rabid rat-monkey bites his mother, she in turn gradually converts the residents of the town into a zombie horde.</p>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>
    

<%- include footer %>