<!DOCTYPE html>

<head>
    <meta charset = "UTF-8">
    <title >¡Monstruoso!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>

<body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <nav>
    <div class="nav-wrapper">
    <a class="brand-logo">Zombies</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/clases">Clases</a></li>
        <li><a href="/armas">Armas</a></li>
        <li><a href="/victimas">Victimas</a></li>
    </ul>
    </div>
    </nav>
