<%- include header %>

<table class="highlight">
<thead>
  <tr>
      <th>Victim</th>
      <th>Direcction</th>
      <th>Telephone</th>
      <th>Instagram</th>
  </tr>
</thead>

<tbody>
  <tr>
    <td>chēnsō #001</td>
    <td>Paperchainsaw</td>
    <td>15653213123</td>
    <td>
        <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
            <div class="col s2">
                <img src="chenso.jpg" alt="" class="circle responsive-img">
            </div>
            <div class="col s10">
                <span class="blue-text text-darken-4"><a href="https://www.instagram.com/explore/tags/paperchainsaw/?hl=es-la">I’ve been really busy being dead.</a></span>
            </div>
            </div>
        </div>
        </div>
    </td>
  </tr>
  <tr>
    <td>Void</td>
    <td>vforvoid #000</td>
    <td>3267842737247</td>
    <td>
        <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
            <div class="col s2">
                <img src="void.jpg" alt="" class="circle responsive-img">
            </div>
            <div class="col s10">
                <span class="blue-text text-darken-4"><a href="https://www.instagram.com/vforvoid/?hl=es-la">Deranged, and Sleepwalker.</a></span>
            </div>
            </div>
        </div>
        </div>
    </td>
  </tr>
  <tr>
    <td>Rottenmorgue</td>
    <td>Patient #666</td>
    <td>736472634726</td>
    <td>
        <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
            <div class="col s2">
                <img src="rottenmorgue.jpg" alt="" class="circle responsive-img">
            </div>
            <div class="col s10">
                <span class="blue-text text-darken-4"><a href="https://www.instagram.com/rottenmorgue/?hl=es-la">Leather Crafter Mutator.</a></span>
            </div>
            </div>
        </div>
        </div>
    </td>
  </tr>
  <tr>
</tbody>
</table>

<%- include footer %>